---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greetings from '../components/Greetings';
import '../styles/global.css';

---

<BaseLayout pageTitle="Home Page">
	<h3>Hey layout is loaded</h3>
	<Greetings client:load messages={['Hi', 'Howdy', 'Hey there']} />
</BaseLayout>