---
import Social from "./Social.astro"

---
<style>
    ul {
        list-style: none;
    }
</style>

<footer>
    <p>
        Learn more about my projects on our Social media 
        <ul>
            <li>
                <Social platform="github" username="#" />
            </il>
            <li>
                <Social platform="facebook" username="#" />
            </li>
            <li>
                <Social platform="youtube" username="#" />
            </li>
        </ul>
    </p>

</footer>